{{title}}

<div>
  <button (click)="onClickComponent()">Insert component</button>
  <button (click)="onClickTemplate(declaratedTemplateRef)">Insert template</button>
  <button (click)="onClickClear()">Clear</button>
</div>

<ng-container *ngTemplateOutlet="declaratedTemplateRef; context: {$implicit: 'Default property', name: 'Egor'}"></ng-container>
<ng-container *ngComponentOutlet="component$ | async; injector: injector"></ng-container>

<ng-container #viewContainer></ng-container>

<ng-template #declaratedTemplateRef let-default let-userName="name">
  {{default}}
  {{userName}}
  <h3>Its template</h3>
  <app-declarated></app-declarated>
</ng-template>